    .jumbotron {
        text-align: center;
    }

    button {
        width: 100px;
        height: 40px;
    }

    .top-bufferX20 {
        margin-top: 20px;
    }

    .top-bufferX10 {
        margin-top: 10px;
    }

    .bottom-bufferX10 {
        margin-bottom: 10px;
    }

    .bottom-bufferX10 {
        margin-bottom: 10px;
    }
    textarea {
        resize: none;
    }

    .jumbotron {
        background-color: rgba(7, 9, 9, 0.2);
    }

